@import 'core/variables';
@import 'core/reset';

.header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

.main {
  display: flex;
  margin-bottom: 20px;

  &_title {
    margin-bottom: 20px;
  }

  &_fav {
    width: 30vw;
  }
  &_characters {
    width: 70vw;
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 20px;
}

// .li-character {

// }

.img {
  height: 200px;
  width: 150px;
}
